target/
dw-codegenerator-webapp/target/
dw-codegenerator-code/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/.settings/
/.classpath
/.project
